<!-- scr/views/pages/map.twig -->
{% extends "../layouts/base.twig" %}

{% block title %}
	<title>{{ title }}</title>
{% endblock %}

{% block style %}
	{{ parent() }}
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
	<style>
		#map {
			height: calc(100vh - 100px);
			width: 100%;
		} /* Ajustez la hauteur en fonction de votre header/footer */
		body,
		html {
			height: 100%;
			margin: 0;
			padding: 0;
		}
	</style>
{% endblock %}

{% block main %}
	<div id="map"></div>
{% endblock %}

{% block script %}
	<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
	<script>
		const map = L.map('map').setView([
48.8566, 2.3522
], 13); // Centré sur Paris

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {attribution: '© OpenStreetMap contributors'}).addTo(map);

const locations = {{ locations | raw }};

locations.forEach(location => {
L.marker([location.latitude, location.longitude]).addTo(map).bindPopup(`<b>${
location.name
}</b><br>${
location.description
}`);
});
	</script>
{% endblock %}
