<!-- scr/views/layouts/base.twig -->
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block title %}{% endblock %}
        
        <!-- Styles globaux -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        
        <!-- Styles spécifiques à la page -->
        {% block style %}{% endblock %}
    </head>
    <body>
        {% block main %}{% endblock %}
        {% block script %}{% endblock %}
    </body>
</html>
