<!-- scr/views/layouts/base.twig -->
<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> {% block title %}{% endblock %}
		{% block style %}
			<link rel="stylesheet" href="/css/main.css">
		{% endblock %}
	</head>
	<body>
		{% include "../partials/header.twig" %}

		{% block main %}{% endblock %}

		{% include "../partials/footer.twig" %}

		{% block script %}{% endblock %}
	</body>
</html>
